<div class="page-header">
  <h1>Extrara</h1>
</div>
<% @users.each do |user|%>

  <div class="status">
  <strong><a href="users/<%=user.id %>"><%=user.name%></a></strong>
    <p><%= user.info%></p>
    <h2>What I'm working on:</h2>
         <% if user.projects %>
                     <% user.projects do |project| %>
                       <div class="well">
                      
                      <h1><%=link_to (project.title), project_path(project)%></h1>
                      <h2> <%=project.subtitle%></h2>
                      <p> <%=project.des%></p>
                      <hr />
       			 </div>
   		 <% end %>
	<%end%>
  </div>
<%end%>
 <%= link_to 'Sign out', destroy_user_session_path %>
