

<!DOCTYPE html>
<html>
<head>
  <title>Expggo</title>
  <link data-turbolinks-track="true" href="/assets/application.css?body=1" media="all" rel="stylesheet" />
  <script data-turbolinks-track="true" src="/assets/jquery.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery_ujs.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/turbolinks.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/users.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/application.js?body=1"></script>
  <meta content="authenticity_token" name="csrf-param" />
<meta content="4bJ2c3ioo1JkvWcpg+2sUD+l/fFt8EM/1bIrcluWOA0=" name="csrf-token" />
</head>
<body>

<p>

</p>
<p>
  <h1><strong >title</strong></h1>
   <strong>subtitle</strong>
</p>
<p>
  <strong>Description:</strong>
  desasdfas fasdf asf asfasf afgsd h dsgsadfgkjsafljadsf 
</p>
<p>
  <strong>Timeline:</strong><br>
  <em>step 1</em> step 1 we do this<br>
  <em>step 2</em> then we do thatasd f<br>
  <em>step 3</em> asdfaga asdfasdf <br>
  <em>step 4</em> asd fasd fasdfasdf asdf asdfa<br>
 
</p>
  <strong>Created by:</strong>
  Aaron Judd

</body>
</html>