/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    background-color: #EFEFEF;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px;
}
.prof-header{
  padding: 2px;


}

h1 {
}

.prof-section{
   background-image: url("https://download.unsplash.com/photo-1428908728789-d2de25dbd4e2");
          background-position: center bottom;
          background-repeat: no-repeat; 
          background-size: cover;
          display: block;
          overflow: hidden;
          width:;
          max-height:;
          padding: 12px;
        }

.prof-buttons {
  display: inline-block;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  padding: 0px;
  color: #fff;
  border: 0px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
            }

/*.prof-buttons:hover,
.prof-buttons:active {
  background-color: #fff;
  color: #BABABA;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;*/


}
.text-left{

  width: 600px;
  text-align: left;
  padding: 12px;
}

.prof-image{
border-radius: 50%;
padding: 12px;
border: 2px solid:#F6F6F6;
}

hr.line {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.buttons {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}
.buttons:hover,
.buttons:active {
  background-color: #fff;
  color: #BABABA;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;

}
.edit{
	float:right;
	color: #BABABA;
}
.navbar {
  margin: 0;
  padding: 0;
  height: 1em; }
.navbar li {
  list-style: none;
  float: right; }
.navbar li a {
  display: block;
  padding: 3px 8px;
  background-color: #5e8ce9;
  color: #fff;
  text-decoration: none; }

.navbar li ul {
  display: none; 
  width: 10em;
  background-color: #69f;}


.navbar li:hover ul {
  display: block;
  position: absolute;
  margin: 0;
  padding: 0; }
.navbar li:hover li {
  float: none; }
.navbar li:hover li a {
  background-color: #69f;
  border-bottom: 1px solid #fff;
  color: #000; }
.navbar li li a:hover {
  background-color: #8db3ff; }

